.result {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  background-color: aquamarine;
  border: 1 px solid #ccc;
  border-radius: 5px;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.card p {
  margin: 5px 0;
}
